.login__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 426px) {
  .login__buttons {
    margin-top: 194px;
  }
}

@media screen and (max-width: 425px) {
  .login__buttons {
    margin-top: 50px;
  }
}