.popup-info__image {
  cursor: default;
  max-width: 120px;
  max-height: 120px;
}

@media screen and (min-width: 551px) {
  .popup-info__image {
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 550px) {
  .popup-info__image {
    padding-bottom: 40px;
  }
}