.login__sing-in {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

@media screen and (min-width: 461px) {
  .login__sing-in {

  }
}

@media screen and (max-width: 460px) {
  .login__sing-in {
    margin-top: 21px;
  }
}