.popup-info__title {
  color: #000;
  margin: 0;
  text-align: center;
  width: fit-content;
  max-width: 358px;
}

@media screen and (min-width: 551px) {
  .popup-info__title {
    line-height: 29px;
    font-size: 24px;
  }
}

@media screen and (max-width: 550px) {
  .popup-info__title {
    line-height: 24px;
    font-size: 20px;
  }
}